body{
    background-color: #ffffff;
    padding-left: 2em; 
}

h1{
    text-align: center; 
    font-size: 3em; 
} 

h2{
    font-size: 2.5em; 
} 

h3{
    font-size: 1.5em; 
} 

/* p {
    font-size: 22px;
} */

button{
    font-family : sans-serif; 
    font-size : 1.1em; 
    width : 15em;
    height : 2.2em;
    border : 0.1em solid black;
    border-radius : 0.5em;
    box-shadow : 0.2em 0.2em 0.3em rgb(0,0,0);
    margin-bottom: 0.5em; margin-top: 0.5em;
}

button:hover {
    background-color: lightgoldenrodyellow;
}

.buttonValikko{
    font-family : sans-serif; 
    font-size : 1.1em; 
    width : 11em;
    height : 2.2em;
    border : 0.1em solid black;
    border-radius : 0.5em;
    box-shadow : 0.2em 0.2em 0.3em rgb(0,0,0);
    margin-bottom: 0.5em; margin-top: 0.5em;
}

.buttonValikko:hover {
    background-color: lightgoldenrodyellow;
}

table {
    max-width: 70%;
    border-collapse: collapse;
    background-color: #f2f2f2;
    margin-bottom: 40px;
}

th, td {
    border: 1px solid #04049d;
    padding: 12px;
}

th {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: lightgrey;
    color: white;
    font-size: 20px;
    text-align: left;
  }

tr:nth-child(even) {
    background-color: white;
}

.selite{
    display: block;
    width: 7em;
    float:left;
    font-size: 1.1em;
}

input {
    font-size: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

input[readonly]{
    background-color: #f2f2f2;
}

input:required{
    border-color: gray;
    border-width: 0.5px;
    box-shadow: 0 0 3px 3px lightgray
}

textarea {
    font-size : 1.4em;
    color: blue;
}